.container {
  width: 700px;
  color: #333;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
  font-family: Georgia, sans-serif;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 24px;
  line-height: 1.8;
}

a {
  text-decoration: none;
  background: #ffbdfb;
  padding: 3px 6px;
  color: #000;
}
